.testFont {
  font-family: 'Arial';
  font-size: 12px;
}
.display{
  white-space: pre;
}
.mainCanvas{
  border: 1px solid #000000;
  margin-top: 100px;
  border-radius: 20px;
}
.output{
  margin-top: 100px;
  width: 400px;
  height: 400px;
  border-radius: 20px;
  border: 1px solid #000000;
  font-family: 'Arial';
  font-size: 12px;
}
.submitButton{
  margin: auto;
  margin-left: auto;
  margin-right: auto;
}
.inputField{
  margin-top: 100px;
  height: 600px;
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
  font-family: 'Arial';
  font-size: 12px;
}
.circleButton{
  border-radius: 50%;
  width: 70px;
  height: 70px;
  filter: drop-shadow(0 0 0.75rem white);
}
.invert{
}
.invertText{
}
.colCenter{
  display: flex;
  justify-content: center;
}

div {
    -webkit-transition: width 0.3s ease, margin 0.3s ease;
    -moz-transition: width 0.3s ease, margin 0.3s ease;
    -o-transition: width 0.3s ease, margin 0.3s ease;
    transition: width 0.3s ease, margin 0.3s ease;
}
.colCenter1{
  display: flex;
  justify-content: center;
  align-items: center;
}
